


<div class=" pad-left-right-50 background-color-gray top-40 pad-top-bottom-40">
    <div class="col-md-4 background-color-gray">
      <h6 class="text-color-black">Contact</h6>
      <p class="text-color-black">New York, NY 10012, US</p>
      <p class="text-color-black">info@gmail.com</p>
      <p class="text-color-black">+ 01 234 567 88</p>
      <p class="text-color-black">+ 01 234 567 89</p>
    </div>
    <!--Second column-->
    <div class="col-md-4 background-color-gray">
        <h6 class="text-color-black">Categories</h6>
        <p ><a  class="text-color-black" href="#!">Man</a></p>
        <p ><a class="text-color-black"href="#!">Woman</a></p>
        <p ><a class="text-color-black"href="#!">Kids</a></p>
        <p >.</p>
    </div>

    <div class="col-md-4 background-color-gray">
      <h6 class="">Social Network</h6>
      <p ><a class="text-color-black"href="#!">facebook</a></p>
      <p ><a class="text-color-black"href="#!">twitter</a></p>
      <p ><a class="text-color-black" href="#!">github</a></p>
      <p ><a class="text-color-black"href="#!">google +</a></p>
    </div>

</div>
